// VARIABLES {{{
$primary-bg: #EEE;

$link-primary: #E85B92;
$link-primary-active: #F181AC;

$font-stack: 'Open Sans', sans-serif;
$font-size: 1.2em;
$font-size-menu: 0.8em;
$font-size-quote: 0.8em;
$font-size-muted: 0.6em;

$text-primary: #444;
$text-muted: #888;
// }}}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

@mixin vertical-align($position: relative) {
	position: $position;
	top: 100%;
	-webkit-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
}

body {
	font-family: $font-stack;
	background: $primary-bg;
	margin: 40px auto;
	max-width: 650px;
	line-height: 1.2;
	font-size: $font-size;
	color: $text-primary;
	padding: 0 10px;
}

h1, h2, h3{
	line-height: 1.2;
}

a {
	&:link {
		color: $link-primary;
	}

	&:visited {
		color: $link-primary-active;
	}

	&:active {
		color: $link-primary-active;
	}
}

small {
	font-size: $font-size-muted;
	color: $text-muted;
}

blockquote {
	margin: 10px;
	padding: 10px;
	quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
	color: $text-muted;
	content: open-quote;
	font-size: 2em;
	line-height: 0.1em;
	margin-right: 0.25em;
	vertical-align: -0.4em;
}

blockquote > * {
	display: inline;
	font-size: $font-size-quote;
	color: $text-muted;
}

.inline-menu {
	font-size: $font-size-menu;

	&:before {
		content: '[ ';
	}

	&:after {
		content: ' ]';
	}

	& > * {
		display: inline;
	}
}

.vertical-center {
	@include vertical-align();
}

.text-center {
	text-align: center;
}
