// VARIABLES {{{
$primary-bg: #EEE;

$link-primary: #E85B92;
$link-primary-active: #F181AC;

$font-stack: 'Open Sans', sans-serif;
$font-size: 1.2em;
$font-size-content: 0.9em;
$font-size-menu: 0.8em;
$font-size-quote: 0.8em;
$font-size-muted: 0.6em;

$text-primary: #444;
$text-muted: #888;

$border-primary: #CCC;
// }}}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700);

// https://css-tricks.com/centering-css-complete-guide/
@mixin vertical-align($position: absolute) {
	position: $position;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

body {
	font-family: $font-stack;
	background: $primary-bg;
	line-height: 1.2;
	font-size: $font-size;
	color: $text-primary;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid $border-primary;
	margin: 1em 0;
	padding: 0;
}

a {
	&:link {
		color: $link-primary;
	}

	&:visited {
		color: $link-primary-active;
	}

	&:active {
		color: $link-primary-active;
	}
}

small {
	font-size: $font-size-muted;
	color: $text-muted;
}

.content {
	&-title {
		font-weight: bold;
	}

	&-body > * {
		font-size: $font-size-content;
		max-width: 600px;
		margin-left: auto;
		margin-right: auto;
	}
}

/* https://css-tricks.com/snippets/css/simple-and-nice-blockquote-styling/ */
blockquote {
	margin: 10px;
	padding: 10px;

	&:before {
		color: $text-muted;
		content: '>';
		font-size: 1.5em;
		line-height: 0.1em;
		margin-right: 0.25em;
		vertical-align: -0.2em;
	}

	& > * {
		display: inline;
		font-size: $font-size-quote;
		color: $text-muted;
	}
}

.inline-menu {
	font-size: $font-size-menu;

	&:before {
		content: '[ ';
	}

	&:after {
		content: ' ]';
	}

	& > * {
		display: inline;
	}
}

/* https://css-tricks.com/centering-css-complete-guide/ */
.vertical-center {
	@include vertical-align();
	display: inline;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}
