<!DOCTYPE html>
<html>
<head>
	{% if page.title %}
		<title>{{ page.title }} - {{ site.name }}</title>
	{% else %}
		<title>{{ site.title }} - {{ site.name }}</title>
	{% endif %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="author" content="Lee Watson <{{ site.email }}>">
	{% if page.description %}
		<meta name="description" content="{{ page.description }}">
	{% else %}
		<meta name="description" content="{{ site.description }}">
	{% endif %}
	<link rel="shortcut icon" href="favicon.png" type="image/png">
	<link rel="stylesheet" href="css/main.css" type="text/css">
</head>
<body>
	<div class="text-center vertical-center">
		<h5 class="content-title">{{ page.header }}</h5>
		{% include navmenu.html %}
		<hr>
		<div class="content-body">
			{{ content }}
		</div>
		<hr>
		<blockquote>
			<p><i>People disagree with me. I just ignore them.</i> - Linus Torvalds</p>
		</blockquote>
	</div>
</body>
</html>
